strong{
  margin-bottom: 5px;
  margin-left:12%;
}

#universityLetter{
  font-weight: 600;
}

#deny{
  background-color: red;
  color: white;
  width: 20%;
}

#accept{
  background-color: green;
  color: white;
  width: 20%;
}
