

<div id="header">
    <ul id="headerOptions">
      <li>
          <form action="/search" class="searchForm">
            <input type="text" name="searchInput" placeholder="Search">
            <input type="submit" value="Search" class="searchButton">
          </form>
      </li>

      <li class = "textButton">
        <a href="/events">Browse Events</a>
      </li>

      <li class = "textButton">
        <a href="/university/dashboard">Profile</a>
      </li>

      <li class = "textButton">
      </li>

      <li class = "textButton">
      </li>

      <li class= "textButton">
        <div id="settings">
          <div id="clickSettings">Settings</div>
          <div id="options">
            <a href="/logout"><div class="opt">Logout</div></a>
            <a href="editUniversityPage.html"><div class="opt">Edit</div></a>
          </div>
        </div>
      </li>
    </ul>
</div>
