<!--
  Page to be displayed to confirm user's registration to the hardcoded event.
-->

<!DOCTYPE html>
<document>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/registrationConfirmation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/headerBar.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    {{> organizerHeader}}

    <br>
    <br>


           <p class="user_registration_header">Your registration has successfully been processed <img id="checkMark" src="../images/checkMark.png" /></p>



    <script type="text/javascript" src="../JavaScript/dropdown.js"></script>
    <script type="text/javascript" src="../JavaScript/data_repository.js"></script>
    <script type="text/javascript" src="../JavaScript/registrationConfirmation.js"></script>


</body>




</document>
